/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/
#bodymain
{
/*-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
*/background: url("../../images/bgrr.jpg") no-repeat;
background-attachment: fixed;

}
#bodypage2
{

   background: url("../../images/333.jpg" ) ;
background-attachment: fixed;

}
/* --------------------------------------
   Layout
   -------------------------------------- */
   #features
   {
      text-align: center;
   }
   #features img 
   {
      margin: 0 0 20px;
   }
.carousel-caption
{
   font-size: 16px;
}
.carousel-caption h4
{
   font-size: 22px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */

.well .page-header{
   margin-top: 0;
}
.well .page-header h1{
   margin-top: 0;
}



/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchbar
{

   width: 220px;
}   
 .navbar-brand
 {
   padding: 10px 13px;
 } 
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   ---------------
   ----------------------- */

.alert
{
 margin-top: 20px; 
 display: none;
}
.well
{
   margin: 20px 0;
}

footer
{
   background: black;
}



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}